@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ASP.NETCoreIdentityCustom.Core.ViewModels.EditUserViewModel

@{
}

<main>
    <div class="py-5 text-center">
        <h2>Edit User</h2>
    </div>

    <div class="row g-5">
        <div class="col-md-7 col-lg-8">

            @using (Html.BeginForm("OnPost", "User"))
            {
                @Html.HiddenFor(h => @Model.User.Id);
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label asp-for="@Model.User.FirstName" class="form-label"></label>
                        <input asp-for="@Model.User.FirstName" class="form-control" autocomplete="username" aria-required="true" />
                        <span asp-validation-for="@Model.User.FirstName" class="text-danger">
                        </span>
                    </div>

                    <div class="col-sm-6">
                        <label asp-for="@Model.User.LastName" class="form-label"></label>
                        <input asp-for="@Model.User.LastName" class="form-control" autocomplete="username" aria-required="true" />
                        <span asp-validation-for="@Model.User.LastName" class="text-danger">
                        </span>
                    </div>

                    <div class="col-12">
                        <label asp-for="@Model.User.Email" class="form-label"></label>
                        <div class="input-group has-validation">
                            <span class="input-group-text"></span>
                            <input asp-for="@Model.User.Email" class="form-control" autocomplete="username" aria-required="true" />
                            <span asp-validation-for="@Model.User.Email" class="text-danger">
                            </span>
                        </div>
                    </div>
                </div>

                <hr class="my-4">

                <h4 class="mb-3">Roles</h4>

                <div class="my-3">
                    
                    @for (int i = 0; i < @Model.Roles.Count(); i++)
                    {
                        <div class="form-check">
                            @Html.CheckBoxFor(c => @Model.Roles[i].Selected)
                            @Html.HiddenFor(h => @Model.Roles[i].Value)
                            
                            @Html.LabelFor(l => @Model.Roles[i].Selected, @Model.Roles[i].Text, new {@class="form-check-label"})
                            @Html.HiddenFor(h => @Model.Roles[i].Text)
                        </div>
                    }
                </div>

                <hr class="my-4">

                <button class="w-100 btn btn-primary btn-lg" type="submit">Save</button>
            }
        </div>
    </div>
</main>



